* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 ;
    margin: 0 1em;
}

.header-container li {
    margin: .5em;
}

.header-container h1 {
    /*margin-left: 1em;*/
    font-size: 250%;
}

.header-img{
    display: flex;
    justify-content: center;
}
.main{
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-content: flex-start;
    width: 60%;
}

.sub-section{
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-content: flex-end;
    width: 35%;
    margin-right: 2em;
}
.section-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1em;
}
.section-container h2{
    margin: 1em 0;
}
.section-container p{
    margin: 1em 0;
}
footer{
    display: flex;
    margin: 1em 2em;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#social-media-links li{
    list-style: none;
    display: inline-block;
    margin: .5em;

    font-size: 150%;
}
.hidden-on-desktop {
    display: none;
}

@media screen and (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
        /*width: 100vw;*/
    }
    body{
        padding: 10px;
    }
    .hidden-on-desktop{
        display: flex;
    }
    .header-container{
        margin: 0;
    }
    .header-container h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding-bottom: .5em;
    }
    .header-container li {
        display: flex;
        justify-content: center;
        background: lightgrey;
        padding: 15px;
    }
    .header-img img{
        width: 100%;
    }
    .section-container{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .nav-links{
        display: block;
        /*flex-direction: row;*/
        /*align-items: center;*/
        /*justify-content: center;*/
    }

    .header-container{
        display: block;
    }
    #social-media-links>ul{
        display: flex;
    }
    .sub-section, .main{
        width: 100%;
    }
    li:hover {
        /*display: block;*/
        background-color: whitesmoke;
    }
    .alert-info {
        display: flex;
        justify-content: center;
        background: lightblue;
        padding: 15px;
    }



}