* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0 ;
}

.header-container li {
    margin: .5em;
}

.header-container h1 {
    margin-left: 1em;
}

.header-img{
    display: flex;
    justify-content: center;
}
.main{
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-content: flex-start;
    width: 60%;
}


.sub-section{
    /*display: flex;*/
    /*flex-direction: column;*/
    justify-content: flex-end;
    width: 35%;
    margin-right: 2em;
}
.section-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1em;
}
.section-container h2{
    margin: 1em 0;
}
.section-container p{
    margin: 1em 0;
}

@media screen and (min-width: 576px) {
    .hidden-on-desktop {
        display: none;
    }

}